<%- include('../partials/header') %>

<div class="alert alert-danger">
  <h4 class="alert-heading">Đã xảy ra lỗi</h4>
  <p class="mb-0"><%= message %></p>
</div>

<%- include('../partials/footer') %>
